<br>
<div class="container text-center animate__animated animate__fadeIn" *ngIf="datosMedico">
    <mat-card class="example-card">
        <img *ngIf="!datosMedico.foto" src="../../../assets/user.png" class="img-fluid animate__animated animate__fadeIn" alt="paciente">
        <img *ngIf="datosMedico.foto" src="{{datosMedico['foto']}}" class="img-fluid animate__animated animate__fadeIn" alt="nuevoPaciente">
        <br><br>
        <mat-card-title>Editar mi información</mat-card-title>
        <hr>
        <form (ngSubmit)="enviar()" class="row" [formGroup]="medico" >
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>{{datosMedico.nombre}}</mat-label>
                <input matInput placeholder="Tú nombre" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>{{datosMedico.apellidos}}</mat-label>
                <input matInput placeholder="Apellidos" formControlName="apellidos">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>{{datosMedico.edad}}</mat-label>
                <input type="number" matInput placeholder="Edad" formControlName="edad">
            </mat-form-field>
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>{{datosMedico.titulo}}</mat-label>
                <input type="tel" matInput placeholder="Ejemplo: Fisioterapeuta" formControlName="titulo">
            </mat-form-field>
            <div class="mb-3">
                <mat-label class="example-full-width col">Foto(opcional)</mat-label>
                <input class="form-control" type="file" (change)="onFileSelect($event)">
                <mat-progress-bar *ngIf="subirFoto" [value]="progreso" mode="determinate"></mat-progress-bar>
                <p *ngIf="subirFoto">Subida: {{progreso | number}}%</p>
            </div>
            <button type="submit" mat-raised-button color="primary" [disabled]="medico.invalid">Listo</button>
        </form>
        <hr>
    </mat-card>
</div>