<div class="container container__paciente" *ngIf="pacienteSeleccionado">
    <div class="container__pic animate__animated animate__fadeIn">
        <img *ngIf="!pacienteSeleccionado.foto" src="../../../../assets/user.png" class="fotoPerfil animate__animated animate__fadeIn" alt="paciente">
        <img *ngIf="pacienteSeleccionado.foto" src="{{pacienteSeleccionado.foto}}" class="fotoPerfil animate__animated animate__fadeIn" alt="paciente">
    </div>
    <div class="container__info animate__animated animate__fadeIn">
        <br>
        <h2>Nombre: {{pacienteSeleccionado.nombre}}</h2>
        <h3><b>Apellidos:</b> {{pacienteSeleccionado.apellidos}}</h3>
        <p><b>Correo:</b> {{pacienteSeleccionado.correo}}</p>
        <p><b>Expediente: {{pacienteSeleccionado.idExpedienteMedico}}</b></p>
        <p><b>Telefono:</b> {{pacienteSeleccionado.telefono}}</p>
    </div>
</div>
<div class="container">
    <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Antecedentes personales no patológicos">
            <div class="container-datos">
                <mat-card class="example-card">
                    <p>Por favor rellene todos los campos</p>
                    <form (ngSubmit)="enviarDatos()" class="row" [formGroup]="expedienteMedico" novalidate>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Alimentación</mat-label>
                            <input type="text" formControlName="alimentacion" matInput placeholder="Alimentación del paciente" formControlName="alimentacion">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Pasatiempos</mat-label>
                            <input type="text" formControlName="pasatiempos" matInput placeholder="Pasatiempos del paciente" formControlName="pasatiempos">
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Religión</mat-label>
                            <input type="text" formControlName="religion" matInput placeholder="Religión del paciente" formControlName="religion">
                        </mat-form-field>
                        <label class="option" id="example-radio-group-label-ejercicio">¿Realiza ejercicio?</label>
                        <mat-radio-group class="col" formControlName="ejercicio" aria-labelledby="example-radio-group-label-ejercicio" aria-label="Selecciona una opción">
                            <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                            <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                        </mat-radio-group>
                        <label class="option" id="example-radio-group-label-alcohol">¿Ingiere bebidas alcoholicas?</label>
                        <mat-radio-group class="col" formControlName="alcohol" aria-labelledby="example-radio-group-label-alcohol" aria-label="Selecciona una opción">
                            <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                            <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                        </mat-radio-group>
                        <label class="option" id="example-radio-group-label-drogas">¿Ingiere algun tipo de estupefaciente?</label>
                        <mat-radio-group class="col" formControlName="drogas" aria-labelledby="example-radio-group-label-drogas" aria-label="Selecciona una opción">
                            <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                            <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                        </mat-radio-group>
                        <label class="option" id="example-radio-group-label-fuma">¿Consume tabaco?</label>
                        <mat-radio-group class="col" formControlName="fuma" aria-labelledby="example-radio-group-label-fuma" aria-label="Selecciona una opción">
                            <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                            <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                        </mat-radio-group>
                    </form>
                    <hr>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Antecedentes personales patológicos">
            <div class="container-datos">
                <mat-card class="example-card">
                    <p>Por favor rellene todos los campos</p>
                    <form (ngSubmit)="enviarDatos()" class="row" [formGroup]="expedienteMedico" novalidate>
                        <div class="container col">
                            <label class="option" id="example-radio-group-label-sarampion">Sarampion</label>
                            <br>
                            <mat-radio-group formControlName="sarampion" aria-labelledby="example-radio-group-label-sarampion" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-rubeola">Rubeola</label>
                            <br>
                            <mat-radio-group formControlName="rubeola" aria-labelledby="example-radio-group-label-rubeola" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-varicela">Varicela</label>
                            <br>
                            <mat-radio-group formControlName="varicela" aria-labelledby="example-radio-group-label-varicela" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-escarlatina">Escarlatina</label>
                            <br>
                            <mat-radio-group formControlName="escarlatina" aria-labelledby="example-radio-group-label-escarlatina" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-polomelitis">Polomelitis</label>
                            <br>
                            <mat-radio-group formControlName="polomelitis" aria-labelledby="example-radio-group-label-polomelitis" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-hepatitis">Hepatitis</label>
                            <br>
                            <mat-radio-group formControlName="hepatitis" aria-labelledby="example-radio-group-label-hepatitis" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-transfuciones">Transfusiones</label>
                            <br>
                            <mat-radio-group formControlName="transfuciones" aria-labelledby="example-radio-group-label-transfuciones" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                        <div class="container col">
                            <br>
                            <label class="option" id="example-radio-group-label-cancer">Cáncer</label>
                            <br>
                            <mat-radio-group formControlName="cancer" aria-labelledby="example-radio-group-label-cancer" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-asma">Asma</label>
                            <br>
                            <mat-radio-group formControlName="asma" class="col" aria-labelledby="example-radio-group-label-asma" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-diabetes">Diabetes</label>
                            <br>
                            <mat-radio-group formControlName="diabetes" class="col" aria-labelledby="example-radio-group-label-diabetes" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-hipertension">Hipertensión</label>
                            <br>
                            <mat-radio-group formControlName="hipertension" class="col" aria-labelledby="example-radio-group-label-hipertension" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-obesidad">Obesidad</label>
                            <br>
                            <mat-radio-group formControlName="obesidad" class="col" aria-labelledby="example-radio-group-label-obesidad" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-alergias">Alergias</label>
                            <br>
                            <mat-radio-group formControlName="alergias" class="col" aria-labelledby="example-radio-group-label-alergias" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                            <br>
                            <label class="option" id="example-radio-group-label-cirugias">Cirugias</label>
                            <br>
                            <mat-radio-group formControlName="cirugias" class="col" aria-labelledby="example-radio-group-label-cirugias" aria-label="Selecciona una opción">
                                <mat-radio-button class="option-button" value="si">Si</mat-radio-button>
                                <mat-radio-button class="option-button" value="no">No</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </form>
                    <hr>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Exploracion Física">
            <div class="container-datos">
                <mat-card class="example-card">
                    <p>Por favor rellene todos los campos</p>
                    <form (ngSubmit)="enviarDatos()" class="row" [formGroup]="expedienteMedico" novalidate>
                        <mat-form-field class="example-full-width col" appearance="fill">
                            <mat-label>Peso</mat-label>
                            <input type="text" matInput placeholder="Peso del paciente" formControlName="peso">
                        </mat-form-field>
                        <mat-form-field class="example-full-width col" appearance="fill">
                            <mat-label>Talla</mat-label>
                            <input type="text" matInput placeholder="Talla del paciente" formControlName="talla">
                        </mat-form-field>
                        <mat-form-field class="example-full-width col" appearance="fill">
                            <mat-label>TA</mat-label>
                            <input type="text" matInput placeholder="TA" formControlName="ta">
                        </mat-form-field>
                        <mat-form-field class="example-full-width col" appearance="fill">
                            <mat-label>FC</mat-label>
                            <input type="text" matInput placeholder="FC" formControlName="fc">
                        </mat-form-field>
                        <mat-form-field class="example-full-width col" appearance="fill">
                            <mat-label>FR</mat-label>
                            <input type="text" matInput placeholder="FR" formControlName="fr">
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Datos subjetivos</mat-label>
                            <textarea formControlName="datosSubjetivos" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Datos objetivos</mat-label>
                            <textarea formControlName="datosObjetivos" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Estudios diagnósticos</mat-label>
                            <textarea formControlName="estudiosDiagnosticos" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Impresión diagnósticos</mat-label>
                            <textarea formControlName="impresionDiagnosticos" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Diagnóstico</mat-label>
                            <textarea formControlName="diagnostico" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Pronóstico</mat-label>
                            <textarea formControlName="pronostico" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Plan de tratamiento</mat-label>
                            <textarea formControlName="tratamiento" matInput placeholder="..."></textarea>
                        </mat-form-field>
                    </form>
                    <hr>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Notas de evolución*">
            <div class="container-datos">
                <mat-card class="example-card">
                    <p>Por favor rellene todos los campos</p>
                    <form (ngSubmit)="enviarDatos()" class="row" [formGroup]="expedienteMedico" novalidate>
                        <mat-form-field class="example-full-width">
                            <mat-label>Descripción</mat-label>
                            <textarea formControlName="evolucion" matInput placeholder="..."></textarea>
                        </mat-form-field>

                        <br><br>
                        <hr>
                        <button type="submit" mat-raised-button color="primary" [disabled]="expedienteMedico.invalid">Guardar</button>
                    </form>
                    <hr>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Recetas*">
            <div class="container-datos">
                <mat-card class="example-card">
                    <h2 class="text-center">Asignar una receta nueva al paciente</h2>
                    <p>Fecha: {{fechaActual}}</p>
                    <form (ngSubmit)="asignarReceta()" class="row" [formGroup]="recetaAsignada" novalidate>
                        <mat-form-field class="example-full-width">
                            <mat-label>Descripción</mat-label>
                            <textarea formControlName="descripcion" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <mat-label>Tratamiento</mat-label>
                            <textarea formControlName="tratamiento" matInput placeholder="..."></textarea>
                        </mat-form-field>
                        <br><br>
                        <hr>
                        <button type="submit" mat-raised-button color="primary" [disabled]="recetaAsignada.invalid">Guardar</button>
                    </form>
                    <hr>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>