<div class="container text-center">
    <mat-card class="example-card">
      <img src="../../../assets/logo.png" alt="FISIO_LOGO" class="ronded mx-auto d-block">
      <br>
      <mat-card-title>Inicia Sesión</mat-card-title>
      <hr>
      <form class="row">
        <mat-form-field class="example-full-width" appearance="fill">
           <mat-label>Correo</mat-label>
           <input type="email" matInput placeholder="Ingresa tu correo" required>
        </mat-form-field>    
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input type="password" matInput placeholder="Ingresa tu contraseña" required>
        </mat-form-field>  
        <button mat-raised-button color="primary">Inciar Sesión</button>
      </form>
      <hr>
      
      <a mat-button routerLink="crearCuenta">¿No tienes cuenta?/Crear cuenta</a>
    </mat-card>
  </div>