<div *ngIf="!paciente" class="text-center">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="spinner-grow text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <div class="spinner-grow text-success" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container container__paciente animate__animated animate__fadeIn" *ngIf="paciente">
    <div class="container__pic animate__animated animate__fadeIn">
        <img *ngIf="!paciente.foto" src="../../../../assets/user.png" class="fotoPerfil animate__animated animate__fadeIn" alt="paciente">
        <img *ngIf="paciente.foto" src="{{paciente.foto}}" class="fotoPerfil animate__animated animate__fadeIn" alt="paciente">
    </div>
    <div class="container__info animate__animated animate__fadeIn">
        <br>
        <h2>Nombre completo: {{paciente.nombre}} {{paciente.apellidos}}</h2>
    </div>
</div>
<div class="container animate__animated animate__fadeIn" *ngIf="paciente">
    <mat-tab-group animationDuration="2000ms">
        <mat-tab label="Historias Clinicas">
            <div class="container-datos">
                <mat-card class="example-card">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let historia of historiasClinicas">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{historia.fecha}}</div>
                                {{historia.diagnostico}}
                            </div>
                            <button type="button" class="btn btn-success btn-sm" (click)="generarPdf(historia.fecha , historia.diagnostico , historia.tratamiento)">
                                Ver historia clinica
                            </button>
                        </li>
                    </ol>
                </mat-card>
            </div>
        </mat-tab>
        <mat-tab label="Recetas Asginadas">
            <div class="container-datos">
                <mat-card class="example-card">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let receta of recetas">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold">{{receta.fecha}}</div>
                                {{receta.tratamiento}}
                            </div>
                            <button type="button" class="btn btn-success btn-sm" (click)="generarPdfReceta(receta.fecha , receta.descripcion, receta.nombreMedico, receta.tratamiento)">
                                Ver receta
                            </button>
                        </li>
                    </ol>
                </mat-card>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>