<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="../../../assets/logo.png" alt="Logo FISIO">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Fisio es un equipo de trabajo, orientado en desarrollar y crear nuevas soluciones a problemas que normalmente nos encontramos</p>
            <p>En Fisio, nos enfocamos en crear, innovar y explorar nuevos caminos que ayuden a la sociedad.</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://www.facebook.com/Universidad-Tecnol%C3%B3gica-De-Tlaxcala-155983347830609/" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/ut_tlaxcala/?hl=es" class="fa fa-instagram"></a>
                <a href="https://twitter.com/uttlaxcala" class="fa fa-twitter"></a>
                <a href="https://www.youtube.com/user/uttoficial" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="subgrupo-location">
        <small>C. Francisco Sabaria 1008 Centro. 90300 Apizaco, tlax</small>
    </div>
    <div class="grupo-2">
        <small>&copy; 2022 <b>JESLA</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>