<div class="container text-center">
    <mat-card class="example-card">
        <img src="../../../assets/newPaciente_alt.png" alt="nuevoPaciente" class="ronded mx-auto d-block">
        <br>
        <mat-card-title>Registra un paciente nuevo</mat-card-title>
        <hr>
        <p>Campos Obligatorios *</p>
        <p>El número de telefono sera la contraseña para que le paciente puedad acceder desde la app</p>
        <form (ngSubmit)="enviar()" class="row" [formGroup]="user" novalidate>
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ingresa tu nombre" formControlName="nombre">
            </mat-form-field>
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>Apellidos</mat-label>
                <input matInput placeholder="Ingresa tus apellidos" formControlName="apellidos">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Correo</mat-label>
                <input type="email" matInput placeholder="Ingresa tu correo" formControlName="correo">
            </mat-form-field>
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>Telefono</mat-label>
                <input type="tel" matInput placeholder="Ingresa el telefono" formControlName="telefono">
            </mat-form-field>
            <mat-form-field class="example-full-width col" appearance="fill">
                <mat-label>Expediente</mat-label>
                <input type="text" matInput placeholder="Ingresa el expediente medico" formControlName="idExpedienteMedico">
            </mat-form-field>
            <div class="mb-3">
                <mat-label class="example-full-width col">Foto del paciente (opcional)</mat-label>
                <input class="form-control" type="file" (change)="onFileSelect($event)">
                <mat-progress-bar *ngIf="subirFoto" [value]="progreso" mode="determinate"></mat-progress-bar>
                <p *ngIf="subirFoto">Subida: {{progreso | number}}%</p>
            </div>
            <p *ngIf="user.get('nombre')?.errors && user.get('nombre')?.touched" class="alert alert-danger">
                Este campo es obligatorio
            </p>
            <p *ngIf="user.get('apellidos')?.errors && user.get('apellidos')?.touched" class="alert alert-danger">
                Este campo es obligatorio
            </p>
            <p *ngIf="user.get('correo')?.errors 
                  && user.get('correo')?.hasError('email')
                  && user.get('correo')?.touched" class="alert alert-danger">
                Por favor introduce un correo valido
            </p>
            <p *ngIf="user.get('telefono')?.errors && user.get('telefono')?.touched" class="alert alert-danger">
                Introduzca un número telefonico valido 
            </p>
            <p *ngIf="user.get('idExpedienteMedico')?.errors && user.get('idExpedienteMedico')?.touched" class="alert alert-danger">
                Este campo es obligatorio
            </p>
            <button type="submit" mat-raised-button color="primary" [disabled]="user.invalid">Registra Paciente</button>
        </form>
        <hr>
    </mat-card>
</div>